body {
	background: #fafafa;
	color: #34495E;
	margin-top: 5rem;
}

.navbar-dark .navbar-brand {
	color: #5cb85c;
}

.navbar-dark .navbar-brand:hover {
	color: #2a4cb8;
}

span.helptext {
	color: #6C757D;
	font-size: small;
	display: block;
}

.stat-course {
	padding-left: 0px;
	margin-left: 0px;
}

h1, h2, h3, h4, h5, h6 {
	color: #34495E;
}

ul {
	margin: 0;
}

.bg-white {
	background-color: #ffffff;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.1), 0 0 1px rgba(0, 0, 0, 0.15);
	min-height: 50px;
	z-index: 1000;
}

.site-header .navbar-nav .nav-link {
	color: #34495E;
}

.site-header .navbar-nav .nav-link:hover {
	color: #34495E;
}

.site-header .navbar-nav .nav-link.active {
	font-weight: 500;
}

.content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
}

.article-title {
	color: #34495E;
}

a.article-title:hover {
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}

.article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
}

.article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
}

.account-heading {
	font-size: 2.5rem;
}