{% extends "one/base.html" %}
{% block content %}
<h1>Take a look at the PILOT-supported courses below and select all the course/professor pairs you would like to register for! </h1>
<form action="get_courses/" method="post">
	{% csrf_token %}
	<tr><th><label>Classes:</label></th><td><ul id="id_classes">
		<li><label for="id_classes_0"><input type="checkbox" name="classes" value="1" id="id_classes_0">
			Calculus I (Biology and Social Sciences) with Professor C. Sogge</label>

		</li>
		<li><label for="id_classes_1"><input type="checkbox" name="classes" value="2" id="id_classes_1">
			Calculus II (For Biological and Social Science) with Professor C. Mese</label>

		</li>
		<li><label for="id_classes_2"><input type="checkbox" name="classes" value="3" id="id_classes_2">
			Calculus I (For Physical Sciences and Engineering) with Professor J. Spruck</label>

		</li>
		<li><label for="id_classes_3"><input type="checkbox" name="classes" value="4" id="id_classes_3">
			Calculus II (For Physical Sciences and Engineering) with Professor V. Zakharevich</label>

		</li>
		<li><label for="id_classes_4"><input type="checkbox" name="classes" value="5" id="id_classes_4">
			Calculus III with Professor R. Brown</label>

		</li>
		<li><label for="id_classes_5"><input type="checkbox" name="classes" value="6" id="id_classes_5">
			Linear Algebra with Professor J. Han</label>

		</li>
		<li><label for="id_classes_6"><input type="checkbox" name="classes" value="7" id="id_classes_6">
			Differential Equations and Applications with Professor TBA</label>

		</li>
		<li><label for="id_classes_7"><input type="checkbox" name="classes" value="8" id="id_classes_7">
			Introductory Chemistry I with Professor J. Tolman</label>

		</li>
		<li><label for="id_classes_8"><input type="checkbox" name="classes" value="9" id="id_classes_8">
			Introductory Chemistry I with Professor S. Thyagarajan</label>

		</li>
		<li><label for="id_classes_9"><input type="checkbox" name="classes" value="10" id="id_classes_9">
			Organic Chemistry I with Professor C. Falzone</label>

		</li>
		<li><label for="id_classes_10"><input type="checkbox" name="classes" value="11" id="id_classes_10">
			Organic Chemistry I with Professor C. Townsend</label>

		</li>
		<li><label for="id_classes_11"><input type="checkbox" name="classes" value="12" id="id_classes_11">
			Organic Chemistry I with Professor M. Greenberg</label>

		</li>
		<li><label for="id_classes_12"><input type="checkbox" name="classes" value="13" id="id_classes_12">
			Physics I (For Physical Sciences and Engineering) with Professor M. Swartz</label>

		</li>
		<li><label for="id_classes_13"><input type="checkbox" name="classes" value="14" id="id_classes_13">
			Physics I (For Physical Sciences and Engineering) Active Learning (AL) with Professor R. Wyse</label>

		</li>
		<li><label for="id_classes_14"><input type="checkbox" name="classes" value="15" id="id_classes_14">
			Physics I (For Physical Sciences and Engineering) Active Learning (AL) with Professor R. Leheny</label>

		</li>
		<li><label for="id_classes_15"><input type="checkbox" name="classes" value="16" id="id_classes_15">
			Physics II (For Physical Sciences and Engineering) with Professor P. Maksimovic</label>

		</li>
		<li><label for="id_classes_16"><input type="checkbox" name="classes" value="17" id="id_classes_16">
			Physics I (Biology and Social Sciences) with Professor T. Marriage</label>

		</li>
		<li><label for="id_classes_17"><input type="checkbox" name="classes" value="18" id="id_classes_17">
			Gateway Computing: JAVA with Professor S. More</label>

		</li>
		<li><label for="id_classes_18"><input type="checkbox" name="classes" value="19" id="id_classes_18">
			Gateway Computing: JAVA with Professor I. Sekyonda</label>

		</li>
		<li><label for="id_classes_19"><input type="checkbox" name="classes" value="20" id="id_classes_19">
			Gateway Computing: JAVA with Professor TBA</label>

		</li>
		<li><label for="id_classes_20"><input type="checkbox" name="classes" value="21" id="id_classes_20">
			Discrete Math with Professor B. Castello</label>

		</li>
		<li><label for="id_classes_21"><input type="checkbox" name="classes" value="22" id="id_classes_21">
			Statistical Analysis I with Professor A. Athreya</label>

		</li>
		<li><label for="id_classes_22"><input type="checkbox" name="classes" value="23" id="id_classes_22">
			Spanish Elements II with Professor M. Tracy</label>

		</li>
		<li><label for="id_classes_23"><input type="checkbox" name="classes" value="24" id="id_classes_23">
			Fundamentals of Epidemiology with Professor H. Mckay</label>

		</li>
		<li><label for="id_classes_24"><input type="checkbox" name="classes" value="25" id="id_classes_24">
			Fundamentals of Epidemiology with Professor M. Schneider</label>

		</li>
		<li><label for="id_classes_25"><input type="checkbox" name="classes" value="26" id="id_classes_25">
			Public Health Biostatistics with Professor M.Taub</label>

		</li>
		<li><label for="id_classes_26"><input type="checkbox" name="classes" value="27" id="id_classes_26">
			Public Health Biostatistics with Professor L. Jager</label>

		</li>
		<li><label for="id_classes_27"><input type="checkbox" name="classes" value="28" id="id_classes_27">
			Elements of Macroeconomics with Professor R. Barbera</label>

		</li>
	</ul></td></tr>
	<input type="submit" value="Submit">
</form>
{% endblock content %}