<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Meetings</title>
</head>
<body>
	<h1>Hello, {{ student.jhed }}! These are the PILOT meeting times associated with the courses you chose.</h1>
	<form action="register/" method="post" class="meetings_form">
		{% csrf_token %}
		{% for course, meeting in meetings.items %}
			<h1>{{ course }}</h1>
			<ul>
			{% for time in meeting %}
					<li><input type="radio" name="{{course.id}}" value="{{time.id}}">{{ time }}</li>
			{% endfor %}
			</ul>
		{% endfor %}
		<input type="submit" value="Submit">
	</form>
</body>
</html>