{% extends "one/base.html" %}
{% block content %}
<div class="content-section">
<h1>Hello, {{ student.jhed }}! </h1>
	<h3>These are the PILOT meeting times associated with the courses you chose.</h3>
	<form method="post" class="meetings_form">
		{% csrf_token %}
		{% for course, meeting in meetings.items %}
			<h4>{{ course }}</h4>
			<ul>
			{% for time in meeting %}
					<li><input type="radio" name="{{course.id}}" value="{{time.id}}">
						{{ time }}
						{% if time.enrollment >= time.max %}
						- *WAITLIST ONLY*
						{% endif %}
					</li>
			{% endfor %}
			</ul>
		<br>
		{% endfor %}
		<input type="submit" value="Submit">
	</form>
</div>
{% endblock content%}